/* Start Gloabl Rules */
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-color-light: rgba(33, 150, 243, 0.15);
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}
html {
  scroll-behavior: smooth;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}
img {
  max-width: 100%;
}
body {
  font-family: "Cairo", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
.main-title {
  font-size: 30px;
  padding: 10px 20px;
  margin: 0 auto 80px;
  border: 4px solid black;
  width: fit-content;
  position: relative;
  transition: 1s;
  z-index: 1;
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--main-color);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: 1s;
  z-index: -1;
}
.main-title::before {
  left: -25px;
}
.main-title::after {
  right: -25px;
}
.main-title:hover {
  color: white;
  border-color: var(--main-color-alt);
}
.main-title:hover::before {
  animation: fill-left 0.5s ease-in-out forwards;
}
.main-title:hover::after {
  animation: fill-right 0.5s ease-in-out forwards;
}
@keyframes fill-left {
  50% {
    left: 10px;
    width: 15px;
    height: 15px;
  }
  100% {
    left: -1px;
    border-radius: 0;
    width: 60%;
    height: 101%;
  }
}
@keyframes fill-right {
  50% {
    right: 10px;
    width: 15px;
    height: 15px;
  }
  100% {
    right: -1px;
    border-radius: 0;
    width: 60%;
    height: 101%;
  }
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Header */
header {
  background-color: white;
  box-shadow: 0 20px 20px 0 #E5E5E5;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
header .logo {
  padding: 17.5px 0;
  font-size: 1.7em;
  color: var(--main-color);
  font-weight: 700;
}
header .nav {
  display: flex;
}
header .nav > li > a {
  background-color: white;
  display: flex;
  color: black;
  padding: 0 25px;
  height: 63px;
  height: flex;
  align-items: center;
  justify-content: center;
  transition: var(--main-transition);
  position: relative;
}
@media (max-width: 767px) {
  header {
    flex-direction: column;
  }
  header .logo {
    margin: 0 auto;
  }
  header .nav {
    margin: 0 auto;
  }
  header .nav > li > a {
    padding: 15px 15px;
  }
}
header .nav > li > a::before {
  content: "";
  position: absolute;
  width: 0%;
  background-color: var(--main-color);
  height: 4px;
  left: 0;
  top: 0;
  transition: var(--main-transition);
}
header .nav > li > a:hover {
  background-color: var(--main-color-light);
  color: var(--main-color);
}
header .nav > li > a:hover::before {
  width: 100%;
}
header .nav > li:last-child:hover > .mega-m {
  transform: translateY(1px);
  opacity: 1;
  pointer-events: unset;
}
header .nav .mega-m {
  position: absolute;
  width: 100%;
  display: flex;
  top: 100%;
  padding: 10px;
  gap: 15px;
  align-items: center;
  left: 0;
  background-color: white;
  border-bottom: 3px solid var(--main-color);
  transform: translateY(100px);
  transition: opacity var(--main-transition), transform var(--main-transition);
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}
header .nav .mega-m .image {
  width: 45%;
}
@media (max-width: 768px) {
  header .nav .mega-m {
    flex-direction: column;
    gap: 0;
    align-items: flex-start;
  }
  header .nav .mega-m ul {
    width: 100%;
  }
  header .nav .mega-m ul:not(:last-child) {
    border-bottom: 1.5px solid #eee;
  }
  header .nav .mega-m ul li a {
    padding: 10px 0 10px 50px;
    width: 100%;
  }
}
@media (max-width: 991px) {
  header .nav .mega-m .image {
    display: none;
  }
}
header .nav .mega-m ul {
  flex: 1;
}
header .nav .mega-m ul li a {
  display: block;
  color: var(--main-color);
  font-weight: 700;
  position: relative;
  padding: 15px 0 15px 50px;
  font-size: 1.2em;
}
header .nav .mega-m ul li a i {
  width: 50px;
  text-align: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translatey(-50%)
}
header .nav .mega-m ul li:not(:last-child) a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--section-background);
  bottom: 0;
  left: 0;
}
/* End Header */
/* Start Landing Area */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  left: 0; 
  top: -40px;
  height: 100%;
  width: 100%;
  background-color: var(--section-background);
  z-index: -1;
  transform: skewY(-5deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 100px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .content {
  flex: 100%;
}
.landing .content h1 {
  font-size: 40px;
  letter-spacing: -2px;
}
.landing .content p {
  font-size: 23px;
  line-height: 1.7;
  margin: 5px 0 0;
  color: #666;
  max-width: 500px;
}
.landing .image {
  width: 100%;
}
.landing .image img {
  animation: up-down 6s ease-in-out infinite;
}
@media (max-width: 991px) {
  .landing .image {
    display: none;
  }
  .landing .content {
    text-align: center;
  }
  .landing .content p {
    width: 100%;
    margin: 10px auto;
  }
  .landing .content h1 {
    font-size: 24px;
    letter-spacing: 0px;
  }
  .landing .content p {
    font-size: 18px;
  }
}
.landing .go-down {
  position: absolute;
  color: var(--main-color);
  left: 50%;
  bottom: 35px;
  transition: var(--main-transition);
  animation: bouncing 2s linear infinite;
  font-size: 30px;
  transform: translateX(-50%);
}
.landing .go-down:hover {
  color: var(main-color-alt);
}
@keyframes up-down {
  0%,
  100% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes bouncing {
  0% {
    transform: translate(-50%, 0);
  }
  20% {
    transform: translate(-50%, -20px);
  }
  30% {
    transform: translate(-50%, 0);
  }
  40% {
    transform: translate(-50%, -20px);
  }
  50% {
    transform: translate(-50%, 0);
  }
}
/* End Landing Area */
/* Start Article Section */
#articles {
  padding: var(--main-padding-top) 0;
  position: relative;
  background-color: white;
}
#articles .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 40px;
}
#articles .box {
  box-shadow: 0 2px 15px rgba(0, 0, 0, 10%);
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 10%);
  -moz-box-shadow: 0 2px 15px rgba(0, 0, 0, 10%);
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  transition: var(--main-transition);
  padding-bottom: 10px;
}
#articles .box:hover {
  transform: translateY(-10px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 20%);
  background-color: #111111;
}
#articles .box .content {
  padding: 20px;
}
#articles .box:hover h3 {
  color: white;
}
#articles .box .image {
  overflow: hidden;
  position: relative;
}
#articles .box .image::before {
  font-family: "Font Awesome 5 Free"; font-weight: 400;
  content: "\f06e";
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  background-color: rgba(0, 0, 0, 50%);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  transition: var(--main-transition);
  opacity: 0;
}
#articles .box:hover .image::before {
  opacity: 1;
}
#articles .box img {
  transition: var(--main-transition);
}
#articles .box:hover img {
  transform: rotate(1deg) scale(1.1);
}

#articles .box .content p {
  margin: 10px 0 0;
  line-height: 1.5;
  color: #777;
  transition: var(--main-transition);
}
#articles .box:hover .content p {
  color: white;
}
#articles .box .info {
  padding: 20px;
  border-top: 1px solid #E6E6E7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: var(--main-transition);
}
#articles .box:hover .info {
  border-top: 1px solid white;
}
#articles .box .info a {
  color: var(--main-color);
  font-weight: bold;
  transition: var(--main-transition);
}
#articles .box:hover .info a {
  color: white;
}
#articles .box .info i {
  color: var(--main-color);
  transition: var(--main-transition);
}
#articles .box:hover .info i {
  animation: arrow-move 1s linear infinite;
  color: white;
}
@keyframes arrow-move {
  100% {
    transform: translateX(10px);
  }
}
/* End Article Section */
/* Start Gallery Section */
#gallery {
  padding: var(--main-padding-top) 0;
  position: relative;
  background-color: var(--section-background);
}
#gallery .container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
}
#gallery .container .box {
  padding: 15px;
  background-color: white;
  box-shadow: 0 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}
#gallery .container .box .image {
  position: relative;
  overflow: hidden;
  
}
#gallery .container .box .image::before {
  content: "";
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4848482E;
  width: 0;
  height: 0;
  z-index: 1;
  opacity: 0;
}
#gallery .container .box .image:hover::before {
  -webkit-animation: flash 0.5s;
  -o-animation: flash 0.5s;
  animation: flash 0.5s;
}
#gallery .container .box .image img {
  transition: var(--main-transition);
}
#gallery .container .box .image:hover img {
  transform: rotate(3deg) scale(1.1);
}
@keyframes flash {
  0%, 40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    width: 150%;
    height: 150%;
  }
}
/* End Gallery Section */
/* Start Features */
#features {
  padding: var(--main-padding-top) 0;
  position: relative;
  background-color: white;
}
#features .container {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
}
#features .container .box {
  text-align: center;
  border: 2px solid #ccc;
}
#features .container .box .image {
  position: relative;
  overflow: hidden;
}
#features .container .box .image::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
}
#features .container .box .image::after {
  content: "";
  position: absolute;
  bottom: -3px;
  right: 0;
  border-style: solid;
  border-width: 0 0 150px 500px;
  border-color: transparent transparent white transparent;
  transition: var(--main-transition);
}
#features .container .box:hover .image::after {
  border-width: 0 500px 170px 0;
}
#features .container .box h3 {
  position: relative;
  font-size: 40px;
  margin: 25px auto;
  width: fit-content;
}
#features .container .box h3::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20px;
  height: 5px;
  transform: translateX(-50%);
  width: 70%;
}
#features .container .box p {
  line-height: 2;
  font-size: 20px;
  margin: 30px 0;
  padding: 25px;
  font-weight: 300;
}
#features .box a {
  display: block;
  border: 3px solid;
  border-radius: 10px;
  width: fit-content;
  margin: 0 auto 30px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 30px;
  transition: var(--main-transition);
}
#features .quality .image::before {
  background-color: #f44036;
}
#features .quality h3::after {
  background-color: #f44036;
}
#features .quality a {
  color: #f44036;
  border-color: #f44036;
  background: linear-gradient(to right, #f44036 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom -20px;
}
#features .time .image::before {
  background-color: #009688;
}
#features .time h3::after {
  background-color: #009688;
}
#features .time a {
  color: #009688;
  border-color: #009688;
  background: linear-gradient(to right, #009688 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom -20px;
}
#features .passion .image::before {
  background-color: #03a9f4;
}
#features .passion h3::after {
  background-color: #03a9f4;
}
#features .passion a {
  color: #03a9f4;
  border-color: #03a9f4;
  background: linear-gradient(to right, #03a9f4 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom -20px;
}
#features .box:hover a {
  background-position: left bottom -20px;
  color: white;
}
/* End Features */
/* Start Testimonials */
#testimonials {
  padding: var(--main-padding-top) 0;
  position: relative;
  background-color: var(--section-background);
}
#testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
#testimonials .container .box {
  padding: 20px;
  box-shadow: 0 2px 4px #00000012;
  border-radius: 6px;
  position: relative;
  background-color: white;
}
#testimonials .container .box img {
  position: absolute;
  right: -10px;
  top: -50px;
  width: 100px;
  border-radius: 50%;
  border: 10px solid var(--section-background);
}
#testimonials .container .box h3 {
  color: var(--main-color);
  margin: 0 0 3px;
}
#testimonials .container .box .title {
  color: black;
  display: block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 10px;
}
#testimonials .container .box .rate {
  margin-bottom: 10px;
  color: var(--main-color);
}
#testimonials .container .box .rate .filled:first-child {
  animation: star-pop 5s linear 1s infinite
}
#testimonials .container .box .rate .filled:nth-child(2) {
  animation: star-pop 5s linear 1.25s infinite
}
#testimonials .container .box .rate .filled:nth-child(3) {
  animation: star-pop 5s linear 1.5s infinite
}
#testimonials .container .box .rate .filled:nth-child(4) {
  animation: star-pop 5s linear 1.75s infinite
}
#testimonials .container .box .rate .filled:nth-child(5) {
  animation: star-pop 5s linear 2s infinite
}
@keyframes star-pop {
  0%, 90% {
    transform: scale(1);
  }
  95% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
#testimonials .container .box p {
  line-height: 1.5;
  color: #777;
}
/* End Testimonials */
/* Start Team */
#team-members {
  background-color: white;
  padding: var(--main-padding-top) 0;
  position: relative;
}
#team-members .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
#team-members .container .box {
  position: relative;
  z-index: 10;
}
#team-members .container .box::before {
  content: "";
  width: calc(100% - 60px);
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #f3f3f3;
  border-radius: 10px;
  z-index: -2;
}
#team-members .container .box::after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #e4e4e4;
  border-radius: 10px;
  z-index: -1;
  transition: var(--main-transition);
}
#team-members .container .box .data {
  display: flex;
  align-items: center;
  padding-top: 60px;
}
#team-members .container .box .data img {
  width: calc(100% - 60px);
  transition: var(--main-transition);
  border-radius: 10px;
}
#team-members .container .box:hover .data img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
#team-members .container .box:hover::after {
  width: calc(100% - 60px);
}
#team-members .container .box .data .social {
  width: 60px;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}
#team-members .container .box .data .social a {
  display: block;
  color: #777;
  font-size: 17px;
  margin-bottom: 20px;
  transition: var(--main-transition);
}
#team-members .container .box .data .social a:hover {
  color: var(--main-color);
}
#team-members .container .box .info {
  padding: 20px 20px 20px 80px;
}
#team-members .container .box .info h3 {
  margin-bottom: 0;
  color: var(--main-color);
  font-size: 22px;
  transition: var(--main-transition);
}
#team-members .container .box:hover .info h3 {
  color: #777;
}
#team-members .container .box .info p {
  margin: 10px 0 25px;
}
/* End Team */
/* Start Services */
#services {
  padding: var(--main-padding-top) 0;
  position: relative;
  background-color: var(--section-background);
}
#services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px;
}
#services .container .box {
  background-color: white;
  box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb( 0 0 0 / 12%);
  counter-increment: srv-num;
  transition: var(--main-transition);
  position: relative;
}
#services .container .box::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  top: -3px;
  background-color: var(--main-color);
  width: 0;
  transition: var(--main-transition);
}
#services .container .box:hover {
  transform: translateY(-10px);
}
#services .container .box:hover::before {
  width: 100%;
}
#services .box > i {
  display: block;
  text-align: center;
  font-size: 40px;
  margin: 40px auto;
  color: #D5D5D5;
  transition: var(--main-transition);
}
#services .container .box:hover > i {
  color: var(--main-color);
}
#services .box h3 {
  text-align: center;
  margin: 30px 0 20px;
  font-size: 25px;
  color: var(--main-color);
}
#services .box .info {
  padding: 15px;
  position: relative;
  background-color: #F7F7F7;
  text-align: right;
}
#services .box .info a {
  color: var(--main-color);
}
#services .box .info::before {
  content: "0" counter(srv-num);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  position: absolute;
  padding: 0 20px 0 10px;
  font-weight: bold;
  left: 0;
  top: 0;
  z-index: 2;
  background-color: var(--main-color);
  color: white;
  width: 20%;
  height: 100%;
}
#services .box .info::after {
  content: "";
  position: absolute;
  background-color: #D5D5D5;
  left: 80px;
  top: 0;
  width: 50px;
  height: calc(100% + 0.4px);
  transform: skewX(-20deg);
  z-index: 10;
}
/* End Services */
/* Start Skills */
#our-skills {
  padding: var(--main-padding-top) 0;
  position: relative;
  background-color: white;
}
#our-skills .container {
  display: flex;
  align-items: center;
  gap: 20px;
}
#our-skills .container .skills {
  width: 100%;
}
#our-skills .container .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#our-skills .container .content h3 {
  font-size: 20px;
}
#our-skills .container .content span {
  color: var(--main-color);
  font-size: 15px;
  padding: 3px;
  border-radius: 2px;
  margin-bottom: 2px;
  border: 2px solid var(--section-background);
}
#our-skills .container .skills .level-holder {
  height: 25px;
  width: 100%;
  background-color: var(--section-background);
  margin: 2px 0 20px;
  border-radius: 50px;
  overflow: hidden;
}
#our-skills .container .skills .level-holder .level {
  height: 100%;
  background: linear-gradient( to right, #3CAAF5 0%, #0098FF 50%);
  border-radius: 30px;
  position: relative;
}
@media (max-width: 991px) {
  #our-skills .container {
    flex-direction: column;
  }
}
/* End Skills */
/* Start Work Steps */
#how-it-works {
  padding: var(--main-padding-top) 0;
  position: relative;
  background-color: var(--section-background);
}
#how-it-works .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
#how-it-works .container .image {
  
}
#how-it-works .container .info .box {
  background-color: #F6F5F5;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  border: 2px solid var(--main-color);
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: var(--main-transition);
}
#how-it-works .container .info .box::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #EDEDED;
  z-index: -1;
  width: 0;
  height: 0;
  transition: var(--main-transition);
}
#how-it-works .container .info .box:hover::before {
  width: 100%;
  height: 100%;
}
#how-it-works .container .info .box:hover {
  transform: scale(1.03);
}
#how-it-works .container .info .box img {
  width: 64px;
  margin-right: 30px;
}
#how-it-works .container .info .box h3 {
  color: var(--main-color);
  font-size: 25px;
}
#how-it-works .container .info .box p {
  color: #777;
  line-height: 1.7;
  margin: 10px 0 0;
  font-size: 18px;
}
@media (max-width: 991px) {
  #how-it-works .container {
    flex-direction: column;
  }
  #how-it-works .container .info .box {
    flex-direction: column;
    text-align: center;
  }
  #how-it-works .container .info .box img {
    margin: 0 0 20px;
  }
}
/* End Work Steps */
/* Start Events */
#events {
  padding: var(--main-padding-top) 0;
  position: relative;
  background-color: white;
}
#events .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  
}
#events img {
  max-width: 350px;
}
#events .info {
  flex: 1;
}
#events .subscribe {
  width: 100%;
  margin-top: 75px;
}
#events .info .time {
  display: flex;
  align-items: center;
  margin: 20px auto;
  gap: 10px;
  justify-content: center;
}
#events .info .time .unit {
  border: 1px solid #D4D4D4;
  border-radius: 6px;
  text-align: center;
  width: 75px;
  transition: var(--main-transition);
}
#events .info .time .unit:hover {
  border-color: var(--main-color);
}
#events .info .time .unit span:first-child {
  display: block;
  font-size: 35px;
  color: var(--main-color);
  padding: 15px;
  font-weight: bold;
}
#events .info .time .unit span:last-child {
  display: block;
  padding: 8px 15px;
  font-size: 13px;
  border-top: 1px solid #d4d4d4;
  transition: var(--main-transition);
}
#events .info .time .unit:hover span:last-child {
  border-color: var(--main-color);
}
#events .title {
  text-align: center;
  margin: 40px 0 0;
  font-size: 30px;
}
#events .description {
  text-align: center;
  line-height: 1.7;
  font-size: 19px;
  color: #777;
}
#events .subscribe form {
  width: 600px;
  margin: 20px auto;
  padding: 30px 40px;
  background-color: #f6f5f5;
  border-radius: 50px;
  display: flex;
  gap: 20px;
}
#events .subscribe form input[type="email"] {
  padding: 20px;
  border-radius: 50px;
  border: none;
  flex: 1;
  caret-color: var(--main-color);
  position: relative;
  border: 2px solid transparent;
  transition: var(--main-transition);
}
#events .subscribe form input[type="email"]::placeholder {
  transition: var(--main-transition);
}
#events .subscribe form input[type="email"]:focus {
  outline: none;
  border: 2px solid var(--main-color);
}
#events .subscribe form input[type="email"]:focus::placeholder {
  opacity: 0;
}
#events .subscribe form input[type="submit"] {
  background-color: var(--main-color);
  border: none;
  padding: 0 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  border-radius: 50px;
  transition: var(--main-transition);
}
#events .subscribe form input[type="submit"]:hover {
  background-color: var(--main-color-alt)
}
@media (max-width: 991px) {
  #events .container {
    flex-direction: column;
  }
  #events .subscribe form {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  #events .subscribe form input[type="submit"] {
    padding: 15px 0 ;
  }
}
/* End Events */